{{!< default}}

<div class="container"><h1>Acting Resume</h1></div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h4>Experience</h4>
			<ul>
				<li><strong><em>Almost, Maine (2014)</em> </strong>Jimmy, The Freex (dir. Patty Kim)</li>
				<li><em><strong>Twelfth Night (2013)</strong></em> Feste, Stanford University (dir. Michelle Darby)</li>
				<li><em><strong>Our Town (2012)</strong></em> Joe Stoddard, Lakeside School (dir. Alban Dennis)</li>
				<li><em><strong>Oliver (2012)</strong></em> Bill Sykes, Lakeside School (dir. Alban Dennis)</li>
				<li><em><strong>Take Out (2011)</strong></em> Terrence LaFlamboy, Lakeside School (dir. Randy Hoffmeyer)</li>
				<li><em><strong>Macbeth (2011)</strong></em> Witch 1/Sergeant, Lakeside School (dir. Alban Dennis)</li>
				<li><em><strong>The Winged Man (2011)</strong></em> The Winged Man, Young American's Theatre Co (dir. Maddie Daviss)</li>
				<li><em><strong>Fiddler On The Roof (2011)</strong></em> Sasha/Ensemble, Lakeside School (dir. Margery Ziff)</li>
				<li><em><strong>Zap! (2010)</strong></em> Clifford Gray, Lakeside School (dir. Rob Burgess)</li>
				<li><em><strong>The Real Inspector Hound (2010)</strong></em> Moon, Lakeside School (dir. Gretchen Orsland)</li>
				<li><em><strong>Museum (2009)</strong></em> Bob Lamb, Lakeside School (dir. Margery Ziff)</li>
				<li><em><strong>Burying Your Brother In The Pavement (2009)</strong></em> Ensemble, Lakeside School (dir. Alban Dennis)</li>
			</ul>	
			<br>
			<a href="/technical"><em>Click here for Technical Resume</em></a>
			<br>
			<a href="/resume"><em>Click here for General Resume</em></a>
		</div>
		
		<div class="col-md-6">
			<h4>Education</h4>
			<ul>
				<li>
					<strong><em>Acting</em></strong> 
					<ul>
						<li>Gretchen Orsland & Alban Dennis, Lakeside School 2009-2012</li>
						<li>Jeffrey Bihr, Stanford University 2013</li>
					</ul>
				</li>
				<li>
					<em><strong>Movement</strong></em>
					<ul>
						<li>Gary Reed, 2009</li>
					</ul>
				
				</li>
				<li>
					<em><strong>Combat</strong></em>
					<ul>
						<li>Deb Fialkow, 2010</li>
					</ul>
				
				</li>
				<li>
					<em><strong>Playwriting</strong></em>
					<ul>
						<li>K. Brian Neel, ACT Theater's Young Playwrights Program 2011</li>
						<li>Amy Freed, Stanford University 2014</li>
					</ul>
				
				</li>
			</ul>
			
			<h4>Special Skills</h4>
			<ul>
				<li>Conversational French</li>
				<li>Unarmed Stage Combat</li>
				<li>Improvisation</li>
				<li>Guitar/Piano/Mandolin/Drums/Bass/Banjo/Ukulele</li>
				<li>Standard British/Cockney/Scottish/Irish/Southern/Russian accents</li>
			</ul>
			
			
		</div>
		
			
	</div>
		
		
</div>

		


			