{{!< default}}

			<div class="container"><h1>My Games</h1></div>

			<div class="container">
				<h4>Web Games:</h4>
				<ul>
					<li><em><a href="/thecat">The Cat</a></em> (a surrealist Twine text adventure.)</li>
					<li><em><a href="http://nightvale2048.herokuapp.com">Welcome To 2048 </a> </em> (a 2048 clone inspired by the podcast "Welcome To Night Vale.")</li>
					<li><em><a href="https://20bc2079efa8768849705ab45dee8fc5a3ba3c4a.googledrive.com/host/0B29pbehvS6FLUms4cTYtbE1jWTA/Final%20Project.html">Agent X</a></em> (A narrative, multimedia text adventure where you play as a spy eavesdropping on various people in an increasingly bonkers world. Also spiritually inspired by "Welcome To Night Vale." Made as a final project for a psychoacoustics class.)
					</li>
					<li><em><a href="http://floatyghost.herokuapp.com">Floaty Ghost</a></em> (A prototype of a dead-simple lane dodge game. Pun absolutely intended.)</li>
				</ul>
			
			</div>


 <!-- Wrap div-->
		
	
			