{{!< default}}

			<div class="container"><h1>Music</h1>
			<p><em>Stream and download my two free EPs: "Late Show" (folk-punk) and "Summer Songs" (alt-country)</em></p>
			</div>
			<br>

			<div class="container">
				<div class="row">
			
				<div class="col-md-3">
				<iframe style="border: 0; width: 100%; height: 274px;" src="https://bandcamp.com/EmbeddedPlayer/album=1959068114/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless><a href="http://andrewwhipple.bandcamp.com/album/late-show">Late Show by Andrew Whipple</a></iframe>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<iframe style="border: 0; width: 100%; height: 274px;" src="https://bandcamp.com/EmbeddedPlayer/album=287474820/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless><a href="http://andrewwhipple.bandcamp.com/album/summer-songs">Summer Songs by Andrew Whipple</a></iframe>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<h4>Upcoming Shows</h4>
					<p>No shows at the moment!</p>
				</div>
				
			
			</div>
			
		</div>
		
			<div class="container">
				<h4><em>You can also hear some of these songs, as well as a bunch of covers on my <a href="https://soundcloud.com/andrew-whipple">Soundcloud</a> and <a href="https://youtube.com/theandrewwhipple">Youtube</a> pages.</em></h4>
				
				</div>
		<br>
 <!--Wrap div-->
			