{{!< default}}
<div class="container"><h1>proFUN!dity podcast</h1></div>	
<div class="container">
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-4 podImgFrame">
			<img src="http://i.imgur.com/w4McLgX.jpg" class="podImg">	
		</div>
		<div class="col-md-8 col-sm-8 col-xs-8">
			<p>"proFUN!dity" is a podcast hosted, produced, and listened to by me. It is quite literally just me rambling into my phone when I have free time, usually while walking. It is under the iTunes "comedy" category not because it's particularly funny, but because there is no better place for it.</p>
			<br>
			<h3>New Episodes Every Thursday</h3>
			<br>
			<h4><a href="https://itunes.apple.com/us/podcast/profun!dity-podcast/id964000881?mt=2">Listen on iTunes!</a></h4>
			<br>
			<h4><a href="http://profunditypodcast.tumblr.com">Check it out on Tumblr!</a></h4>
		</div>
	</div>
</div>		

	
		