{{!< default}}

<div class="container"><h1>General Resume</h1></div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h4>Current</h4>
				<ul>
					<li><em><strong>Technical Staff, Stanford Shakespeare Company (2012-Present)</strong></em> Member of the technical company, with a focus on Sound Design, Lighting Design, Stage Management, and Directing. <em><a href="/technical">For further details see theatrical resume.</a></em></li>
				</ul>
			
				<h4>Previous</h4>
				<ul>
					<li><strong><em>Intern, Roxanne Frias (Sept. 2014-Dec. 2014)</em></strong> Intern shadowing and assisting Roxanne Frias, a French documentary director and producer.</li>
					<li><em><strong>Editorial Intern, Cheezburger Inc. (Summer 2014)</strong></em> Intern aiding the editorial staff to publish daily humor content, researching trends in emerging technologies, presenting those trends along with strategy suggestions, and creating an Objective-C programming style guide.</li>
					<li><strong><em>Staff Writer, Ram's Head Gaieties (2013-2014)</em></strong> Member of the writing staff for Stanford Ram's Head Theatrical Society's annual comedy musical "Gaieties" for the 2013 (Gaitiesberg) and 2014 (A Clockwork Cardinal) productions.</li>
					<li><strong><em>Co-Editor, Lakeside Imago (Spring 2012)</em></strong> Co-editor, overseeing the gathering of submissions, selecting of pieces, formatting, publishing, and publicity of Lakeside School's student arts magazine "Imago."</li>
				</ul>
			</div>
		
			<div class="col-md-6">
				<h4>Education</h4>
				<ul>
					<li><strong><em>Stanford University</em></strong> 
						<ul>
							<li>Stanford, CA</li>
							<li>2012-expected June 2016</li>
							<li>Bachelor of Science, Symbolic Systems (HCI Concentration)</li>
							<li>GPA: 3.88</li>
						</ul>
					</li>
					<li><em><strong>Lakeside High School</strong></em>
						<ul>
							<li>Seattle, WA</li>
							<li>2008-2012</li>
						</ul>
				
					</li>
				</ul>
			
				<h4>Awards</h4>
				<ul>
					<li><em><strong>BSA Eagle Scout (2012)</strong></em> </li>
					<li><em><strong>LeakyCon LeakyStars Performance Finalist (2013)</strong></em></li>
				</ul>
			
				<h4>Specialized Resumes</h4>
				<ul>
					<li><a href="/technical"><em>Theatrical Resume (Technical)</em></a></li>
					<li><a href="/acting"><em>Theatrical Resume (Acting)</em></a></li>
				</ul>
			</div>
		
			
		</div>
		
		
	</div>


		


			