{{!< default}}

<div class="container"><h1>Technical Resume</h1></div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h4>Experience</h4>
			<ul>
				<li><strong><em>Much Ado About Nothing (upcoming, 2015)</em> </strong>Director, Stanford Shakespeare Company</li>
				<li><em><strong>The Winter's Tale (2014)</strong></em> Sound Designer/Asst. Stage Manager, Stanford Shakespeare Company (dir. Nora Tjossem)</li>
				<li><em><strong>Henry V (2014)</strong></em> Sound Designer/Asst. Stage Manager, Stanford Shakespeare Company (dir. Louis McWilliams)</li>
				<li><em><strong>Fall Showcase (2013)</strong></em> Monologue Director, Stanford Shakespeare Company</li>
				<li><em><strong>Love's Labour's Lost (2013)</strong></em> Lighting Designer (dir. Camille Brown)</li>
				<li><em><strong>Othello (2013)</strong></em> Sound Designer/Lighting Board Operator/Asst. Stage Manager, Stanford Shakespeare Company (dir. Kevin Hurlbutt)</li>
				<li><em><strong>Any Which Way You Like It (2012)</strong></em> Lighting Board Operator, Stanford Shakespeare Company (dir. Rachel Purcell)</li>
			</ul>	
				
			<br>
			<a href="/acting"><em>Click here for Acting Resume</em></a>
			<br>
			<a href="/resume"><em>Click here for General Resume</em></a>
		</div>
			
	</div>
		
			
</div>
		