{{!< default}}

		<div class="container"><h1>Writing</h1>

		<div class="row">
			<div class="col-md-5">
				<h4>One-Act Plays</h4>
				<ul>
					<li><a href="https://dl.dropboxusercontent.com/u/77675433/Plays/JanePlaysWithJake.pdf"><em>Jane Plays With Jake</em></a> (10 mins) Two teenaged partners in crime break into a house and deal with some unexpected tensions.</li>
					<li><a href="https://dl.dropboxusercontent.com/u/77675433/Plays/ALongWayDown.OneAct.pdf"><em>A Long Way Down</em></a> (15 mins)  A totally unauthorized adaptation of the first scene of Nick Hornby’s book A Long Way Down. [I don’t think writing it was illegal (especially since it was for a class) but I’m almost positive performing it is. I also have a first draft of a <a href="https://dl.dropboxusercontent.com/u/77675433/Plays/ALongWayDown.Full.pdf">full-length, 2-hour long version</a>, which is even more illegal, and also not super good.]</li>
					<li><a href="https://dl.dropboxusercontent.com/u/77675433/Plays/ItIsWritten.FirstDraft.pdf"><em>It Is Written</em></a> (30-40 mins) An absurdist play that takes place in a coffee shop that happens to be visited by a superhero [First Draft]</li>
				</ul>
			</div>
		
			<div class="col-md-3">
				<h4>Gaieties</h4>
				<p>For the past two years I have been a member of the writing staff for Stanford’s Annual “Big Game Gaieties,” an original, student-written comedy musical. You can read up about it <a href="http://www.stanford.edu/group/rams-head/gaietieshistory.html">here</a>.</p>
				<ul>
					<li><em>Gaietiesberg</em> (2013)</li>
					<li><em>Gaities: A Clockwork Cardinal</em> (2014)</li>
				</ul>
				
			</div>
		
			<div class="col-md-3">
				<h4>Screenplays</h4>
				<ul>
					<li><a href="/writing/AStoryAboutYou.pdf">"A Story About You"</a> <em>A short screenplay adapation of the podcast "Welcome To Night Vale" for a class on adapation.</em>
					</li>
					<li><a href="/writing/WolfAtTheDoor.pdf">"Wolf At The Door"</a> <em>A short screenplay adapation of a Rebecca Curtis short story for the same class.</em>
					</li>
					<li><a href="/writing/BulletInTheBrain.pdf">"Bullet In The Brain"</a> <em>Yet another short screenplay adapation, this time of a Tobias Woolf short story.</em>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4>Short Stories</h4>
				<ul>
					<li><a href="https://dl.dropboxusercontent.com/u/77675433/Stories/The%20Other.pdf">"The Other"</a> <em>(Horror)</em></li>
					<li><a href="https://dl.dropboxusercontent.com/u/77675433/Stories/The%20Rules.pdf">"The Rules"</a> <em>(Thriller/Sci-Fi)</em></li>
					<li><a href="https://dl.dropboxusercontent.com/u/77675433/Stories/My%20Name%20Is%20Chuck.pdf">"My Name Is Chuck"</a> <em>(Thriller/Horror)</em></li>
					<li><a href="https://dl.dropboxusercontent.com/u/77675433/Stories/Breath.pdf">"Breath"</a> <em>(Microfiction)</em></li>
					<li><a href="https://dl.dropboxusercontent.com/u/77675433/Stories/Your%20Eyes.pdf">"Your Eyes"</a> <em>(Microfiction)</em></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h4>Webseries</h4>
				<ul>
					<li><em><a href="https://www.youtube.com/user/stanfordsitcom">The Slump</a></em> (2014) A comedic weekly webseries about a group of college sophomores dealing with life and the wackiness therein. Worked on pitches and development of series, and co-wrote the upcoming episode "Week Six & The Sleuths" </li>
				</ul>
				<!--<h4>Reviews of Things</h4>
			
				<ul>
					<li><a href="http://andrewthewhip.tumblr.com/tagged/movie-a-day">Movie A Day</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/12/31/movies-i-still-need-to-see/">2012 Movies I Still Need To See</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/12/31/best-of-2012-movies/">Best Of 2012: Movies!</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/11/29/lincoln/">Lincoln</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/10/20/the-walking-dead-wins-at-life-or-death-i-guess/">The Walking Dead Wins At Life (Or Death I Guess)</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/10/17/and-now-i-really-want-to-watch-almost-famous-not-fade-away-review/">Not Fade Away: And Now I Really Want To Watch Almost Famous</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/07/03/299/">Favorite Youtube Shows</a><a href="http://polyphonicnoise.wordpress.com/2012/07/06/favorite-youtube-shows-part-2/">(Part 2)</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/06/30/abraham-lincoln-vampire-hunter/">Abraham Lincoln: Vampire Hunter</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/03/27/middle-school-music/">Middle School Music (Kaiser Chiefs Live Concert Review)</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/03/25/review-the-hunger-games/">The Hunger Games</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/03/07/in-regards-to-the-reviews-of-project-x/">In Regards To The Reviews Of Project X</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/03/06/sound-off-2/">Sound Off 2012</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/03/03/rubber-ummm-wait-what/">Rubber: Umm...Wait, What?</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/02/25/music-is-cool-zoe-young-and-among-savages/">Music Is Cool: Zoe Young & Amongst Savages</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/02/23/the-artist/">The Artist</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/02/18/hooray-for-ryan-gosling/">Hooray For Ryan Gosling</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/01/10/2011-best-of-movies/">2011 Best Of Movies</a> <a href="http://polyphonicnoise.wordpress.com/2012/01/12/2011-best-of-movies-part-2/">(Part 2)</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/01/10/2011-best-of-music/">2011 Best Of Music</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2010/03/06/sound-off/">Sound Off 2011</a></li>
				</ul>-->
			</div>
			
			<div class="col-md-4">
				<h4>Essays</h4>
				<ul>
					<li><a href="http://thelistservearchive.com/2014/04/06/some-podcasts-i-like/">Some Podcasts I Like</a></li>
					<li><a href="http://andrewthewhip.tumblr.com/post/85606492576/frozen-as-a-generation-defining-movie-an-essay">Frozen As A Generation-Defining Movie</a></li>
					<li><a href="http://andrewthewhip.tumblr.com/post/84936790631/as-someone-who-has-not-just-made-some-of-my-best">Look Up</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2013/03/22/the-revolution-will-not-be-kickstarted/">The Revolution Will Not Be Kickstarted</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/10/19/in-which-i-watch-half-a-season-of-walking-dead-over-the-course-of-24-hours/">In Which I Watch A Half A Season of Walking Dead In 24 Hours</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/03/08/kony-2012/">Kony 2012</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2012/02/16/musings-on-musicals/">Musing On Musicals</a></li>
					<li><a href="http://polyphonicnoise.wordpress.com/2010/08/06/a-christmas-story/">A Christmas Story</a></li>
				</ul>
			</div>
		
		</div>

		
	</div>
		
<!-- wrap div-->
	