{{!< default}}
		<script src="/js/lib/jquery/jquery-1.11.1.min.js"></script>
		<div class="container"><h1><a href="https://youtube.com/theandrewwhipple">Main Channel (TheAndrewWhipple)</a></h1>
			<p><em>Original comedy songs, covers, and vlogs, and really whatever I feel like making.</em></p></div>

		
		<div class="container">
		<div class="row">
		<div class="col-md-3">
			<h4>Most recent video</h4>
		<div id="static_video"></div>
		    <script type="text/javascript">
		        function showLatestVid(response) {
		            if(response.data && response.data.items) {
		                var items = response.data.items;
		                if(items.length>0) {
		                    var item = items[0];
		                    var videoid = "http://www.youtube.com/embed/"+item.id;
		                    console.log("Latest ID: '"+videoid+"'");
		                    var video = "<iframe width='300' height='225' src='"+videoid+"' frameborder='0' allowfullscreen></iframe>"; 
		                    $('#static_video').html(video);
		                }
		            }
		        }
		    </script>
		    <script type="text/javascript" src="https://gdata.youtube.com/feeds/api/users/theandrewwhipple/uploads?max-results=1&orderby=published&v=2&alt=jsonc&callback=
		showLatestVid"></script>
		
	</div>
	
	<div class="col-md-1"></div>
	<div class="col-md-3">
		<h4>Songs</h4>
		<iframe width="300" height="225" src="//www.youtube.com/embed/videoseries?list=PLJ1cuJHARbAB0dS5l4t8UCXFqZFy1R9cG" frameborder="0" allowfullscreen></iframe>
	</div>
	
	<div class="col-md-1"></div>
	<div class="col-md-3">
		<h4>Vlogs</h4>
		<iframe width="300" height="225" src="//www.youtube.com/embed/videoseries?list=PLJ1cuJHARbABdk1AqIpxnNqkMWiHBIZDW" frameborder="0" allowfullscreen></iframe>
	</div>
	
	</div></div>
		
		<div class="container"><h1><a href="https://www.youtube.com/user/TheADubClub/featured">The A-Dub Club</a></h1>
			<p><em>A Youtube talk show discussing pop culture, science, technology, philosophy, and whatever other geeky things we feel like. (No longer updating)</em></p>
			<div class="row">
			<div class="col-md-3">
				<h4>Season 1</h4>
				<iframe width="300" height="225" src="//www.youtube.com/embed/videoseries?list=PLFD73A804F359CBF9" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-3">
			<h4>Season 2</h4>
			<iframe width="300" height="225" src="//www.youtube.com/embed/videoseries?list=PLnj-KEowZ2UqW-8aPAZzJR6GAZgwpgjw_" frameborder="0" allowfullscreen></iframe>
			</div>
			
			
			</div>
			
		</div>
	<!-- wrap div-->
	
	